.container {
    border: 2px solid red;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
}

.container div {
    height: 40px;
    width: 100px;

}

.container div:nth-child(1) {
    background-color: green;

}

.container div:nth-child(2) {
    background-color: blue;

}

.container div:nth-child(3) {
    background-color: yellow;

}

.container div:nth-child(4) {
    background-color: aqua;
}