* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(65, 65, 238);
}

.main-container {
    /* border: 2px solid red; */
    height: 100%;
    margin-top: 50px;
}

.task-container {
    margin: auto;
    background-color: white;
    width: 30%;
    height: 600px;
}

.input-operations {
    background: white;
}

.input-operations .input {
    display: flex;
    gap: 20px;
    padding: 30px 10px;
    margin-top: 100px;
}

.input input {
    width: 100%;
    padding: 15px;
    border-radius: 5px solid black;
}

.input button {
    padding: 15px;
    background-color: blue;
    color: white;
    font-size: 15px;
}

#append-task-list p {
    width: 275px;
    word-wrap: break-word;
    height: fit-content;
}

#append-task-list p span {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 15px;
}

#append-task-list {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-left: 10px;
    margin-right: 10px;
}

.single-task {
    padding: 15px;
    background-color: rgb(149, 204, 221);
    border: 2px white;
    height: 50px;
    border-radius: 5px;
    font-size: 20px; 
}

.edit-icon, .delete-icon {
    color: white;
    background-color: blue;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px; 
    height: 30px;
    font-size: 16px; 
    cursor: pointer;
}