* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container {
    height: 60vh;
    background-color: rgb(26, 26, 184);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-container {
    height: 400px;
    border: 2px solid red;
    background-color: white;
    width: 400px;
    padding: 10px;
}
.sub-container .input{
    display: flex;
    justify-content: space-between;
}