/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-container {
  height: 60vh;
  background-color: rgb(26, 26, 184);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  height: 400px;
  background-color: white;
  width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid rgb(65, 65, 238);
}

.sub-container .input-box {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

.sub-container .input-box input {
  border: 2px solid blue;
  text-align: left;
  padding: 8px;
  width: 80%;
  border-radius: 5px;
}

.sub-container .input-box button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: rgb(65, 65, 238);
  color: white;
}

.sub-container .input-box button:hover {
  cursor: pointer;
}

#taskList {
  margin-top: 50px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
}


.task-row {
  padding: 6px;
  background-color: rgb(149, 204, 221);
  border: 2px white;
  height: 40px;
  border-radius: 5px;
}

.task-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.icon-div {
  display: flex;
  gap: 10px;
}

.icon-div i {
  background-color: blue;
  color: white;
  border-radius: 5px;
  padding: 5px;
}


/* .task-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d8e8e5;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}

.task-content {
  flex: 1;
  padding: 5px;
}

.icon-div i {
  color: white;
  background-color: #3b5998;
  padding: 8px;
  border-radius: 5px;
} */ 
